*{
    margin: 0;
    padding: 0;
}
#navbar{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 5px;
    left: 0;
}
#menuItems{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto ;

}
#socialLinks{
    width: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
#sideMenuIcon{
    color: white;
}
#sideMenuIcon{
 color: white;   
}
#banner{
    text-transform: uppercase;
    color: white;
    width: 100%;
    height: 445px;
    background-image: url("img/bg-title-page-03.jpg");
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

#recipies {
    text-align: center;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#recipiesText{
    width: 45%;
}
#recipies h2{
    color: red;
    font-style: italic;
}
#recipies  h1{
    color: black;
    letter-spacing: 5px;
    font-size: 38px;
}
#recipiesImg {
    width: 390px;
    height: 390px;
    border-radius: 15px;
    background-image: url("img/our-story-01.jpg");
    background-size: 100%;
    background-position: center;
    transition: all 4s;
}
#recipiesImg:hover{
    background-size: 110%;
    transition: all 4s;
}
@media only screen and (max-width: 600px){
    #menuItems{
        display: none;
    }
    #socialLinks{
        width: 20%;
    }
    #banner{
        color: red;
        font-size: 22px;
    }
    #recipiesText{
        width: 75vw;
    }
    #recipiesImg{
          width: 60vw;
          height: 60vw;
          margin-top: 5vh;
    }
}
